<launch>
  <node name="obstacles" pkg="rosbag" type="play" args="--clock $(find etq_demo)/rosbags/static_scan.bag"/>
  <node name="lidar_conversion" pkg="etq_lidar" type="lidar_conversion"/>

  <node name="demo_goal" pkg="etq_demo" type="demo_goal"/>
  <node name="pose_estimation" pkg="etq_lidar" type="pose_estimation"/>

  <node name="world2lidar_transform" pkg="etq_lidar" type="world2lidar_transform"/>
  <node name="scan2cloud_conversion" pkg="etq_lidar" type="scan2cloud_conversion"/>

  <node name="lidar_projection" pkg="etq_lidar" type="lidar_projection" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find etq_demo)/rviz_config.rviz"/>
</launch>

<?ignore
launch-prefix="valgrind -s --leak-check=full --show-leak-kinds=all --track-origins=yes --keep-stacktraces=alloc-and-free --log-file='valgrind_log2.log'"
    <node name="local_planner" pkg="etq_planner" type="local_planner" output="screen"/>
?>
